<div class="card">
  <div class="card-header"><h2>Home Page</h2></div>
  <div class="card-body">
      <p>Modules/Components and Angular CLI Commands in User Management App</p>
      <dl>
        <dt>Home</dt>
        <dd><code>ng g c home/home --flat</code></dd>
        <dt>Page Not Found</dt>
        <dd><code>ng g c page-not-found/page-not-found --flat</code></dd>
        <dt>User Module</dt>
        <dd><code>ng g m user/user --flat</code></dd>
        <dt>User List</dt>
        <dd><code>ng g m user/user --flat</code></dd>
        <dt>User Detail</dt>
        <dd><code>ng g c user/user-detail --flat</code></dd>
        <dt>User Registration</dt>
        <dd><code>ng g c user/user-registration --flat</code></dd>
      </dl> 
  </div>
</div>

 
